MYOB_BASE_URL=https://sbx2-oppenheimer.myobadvanced.com
MYOB_CLIENT_ID=
MYOB_CLIENT_SECRET=
MYOB_USERNAME=
MYOB_PASSWORD=
MYOB_ENDPOINT_NAME=Default
MYOB_ENDPOINT_VERSION=23.200.001

# WooCommerce stores (prefixes are set in src/stores.js)
WC_BASE_URL=https://homeroyale.com.au
WC_CONSUMER_KEY=
WC_CONSUMER_SECRET=
WC2_BASE_URL=https://oppenheimerfe.com.au
WC2_CONSUMER_KEY=
WC2_CONSUMER_SECRET=
